.pressed{
  text-shadow: 0 -1px 0 rgba(0,0,0,0.8),0 1px 0 rgba(255, 255, 255, 0.5);
}
.pressed:hover{
  text-shadow: 0 -1px 0 rgba(0,0,0,0.8),0 1px 0 rgba(255, 255, 255, 0.5);
}
.embossed{
  text-shadow: 0 1px 0 rgba(0,0,0,0.8),0 -1px 0 rgba(255, 255, 255, 0.5);
}
.invisible{
	display: none;
}
body{
  background-color: #fff;
  /*background-image: url('/images/bedge_grunge.png');*/
}
.sub-container{
	margin:0px 85px 0px 85px;
	padding-top:30px;
	padding-bottom:30px;
	border-bottom:1px solid #999;
}
#header .sub-container{
	border-width:0px;
}
.relative-position{
	position: relative;
}
#header{
	height:250px;
	/*background:rgb(94,155,252);*/
	background-image: linear-gradient(bottom, rgb(51,86,140) 0%, rgb(94,157,252) 100%);
	background-image: -o-linear-gradient(bottom, rgb(51,86,140) 0%, rgb(94,157,252) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(51,86,140) 0%, rgb(94,157,252) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(51,86,140) 0%, rgb(94,157,252) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(51,86,140) 0%, rgb(94,157,252) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(51,86,140)),
		color-stop(1, rgb(94,157,252))
	);
}
#photo-slider-wrapper{
	position: relative;
	top:-100px;
	left:0px;
}
#intro-wrapper{
	height:480px;
	background-color: white;
}
#photo-slider img{
	width:100%;
}
#photo-slider [class*="span"]{
	margin:0px;
}
#photo-slider .span4{
	width:33.33%;
	border:5px solid rgb(94,155,252);
}
#photo-slider .span6{
	width:50%;
}
.shadow{
  -webkit-box-shadow: 0 1px 4px #666;
  box-shadow: 0 1px 4px #666;
  -moz-box-shadow: 0 1px 4px #666;
}
.border{
	border:1px solid black;
}


